@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Courier Prime", monospace;
    color: white;
    justify-content: center;
    display: flex;
    background: #1e1e1e;
    flex-direction: column;
    margin: 0;
}

h2 {
    text-align: center;
    width: 100vw;
    background: #333;
    margin-top: 0px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-self: center;
    background: #333;
    padding: 5px 2px 5px 2px;
}

.subinput {
    flex-direction: row;
    margin-bottom: 1.5vh;
    align-self: center;
}

.subinput input {
    width: 22.5vw;
}

.input button {
    width: 48.5vw;
    color: #696969;
    align-self: center;
}